<div class="body">
      <div class="container">
        <p class="gr-index"><%=  notice %></p>
        <div class="row">
          <div class="top-message col-md-offset-3 col-md-6">
            <h1><font _mstmutation="1">welcome to </font><span class="glyphicon glyphicon-book"><strong>Bookers</strong>  !!</span></h1>
              <p><font _mstmutation="1">In  <strong _mstmutation="1">Bookers</strong>, </font><span class="glyphicon glyphicon-book"></span></p>
              <p>you can share and exchange  your opinions , inpressions , and emotions</p>
              <p> about various books!</p>

            <div class="btn-wrapper">
              <div class="row">
                 <p><a class="btn btn-info col-xs-10 col-xs-offset-1 sign_in" href="/users/sign_in">Log in</a></p>
              </div>
              <div class="row">
                <p><a class="btn btn-success col-xs-10 col-xs-offset-1 sign_up" href="/users/sign_up">Sign Up</a></p>
              </div>
              <br>
            </div>
            </div>
</div>
</div>
</div>